.gs-header {
	height: 8 * $spacer;
	background-color: $color-gainsboro;
	color: #ffffff;

	.gs-filter-gender, .gs-filter-discrict {
		display: block;
		margin-top: 2 * $spacer;
	}
	
	@media (max-width: 980px) {
		.col-4 {
			width: 50%;

			&:nth-child(2) {
				display: none;
			}
		}
	}
}