<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<title>Funke Candidate Test</title>
</head>
<body>

<h1>Funke Candidate Test</h1>

<!--<link rel="stylesheet" href="./css/style.css?<%- Date.now() %>" />-->
<!--<script src="./js/script.js?<%- Date.now() %>"></script>-->

</body>
</html>