@import "variables";

body {
	margin: 0;
	padding: 0;
	background-color: #ffd700;
	font-family: sans-serif;
}

@import "partials/grid";

@import "partials/header";
@import "partials/box";
@import "partials/lists";